body {
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    overflow: scroll;
}

body::-webkit-scrollbar {
    /*display: none; !* for Chrome, Safari, and Opera *!*/
}

.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.thumbnail img {
    margin-top: 10px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
    background: rgba(72, 73, 75, 0.42);
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}

/* Sidenav */

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgba(0, 0, 0, 0.61);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.6s; /* 0.5 second transition effect to slide in the sidenav */
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.sidenav::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.sidenav .card-body {
    padding-left: 3rem;
}

.sidenav p {
    margin: 22px;
}

#sideNavMenu .card p a {
    overflow-wrap: break-word;
    border: #f86d00 solid 1px;
    margin: .3rem;
    border-radius: 10px;
    text-align: center;
    padding: 8px 0 8px 0;
}

#sidenavTrigger {
    height: 100%; /* 100% Full-height */
    min-width: 40px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    left: -2em;
    /* When you mouse over the navigation links, change their color */
}




/* The navigation menu links */
.sidenav a {
    white-space: nowrap;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1rem;
    color: sandybrown;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #ff6a00;
}

/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.jumbotron {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    display: flex;
    flex-direction: row;
    padding: 3rem 1.5rem;
    background-color: rgba(233, 236, 239, 0.78);
}

#main-title {
    margin: auto;
    color: black;
    text-decoration: none;
    ;
}

.sub-title {
    color: sandybrown;
}

.sub-title:hover {
    color: darkorange;
    cursor: grab;
}

.jumbotron h1 {
    margin: auto;
    color: sandybrown;
}

.jumbotron h1:hover {
    color: darkorange;
}

.container {
    margin-top: 15rem;
    z-index: 3;
}

.cart-open {
    background-color: #3b3b3b;
    min-height: 400px;
    min-width: 500px;
    transition: 0.2s;
    transition-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

.cart-holder button {
    margin: .3rem;
    position: relative;
    color: sandybrown;
    float: right;
}

.cart-holder button:hover {
    color: darkorange;
}

.cart-holder {
    z-index: 1999;
    right: .4rem;
    overflow-x: hidden; /* Disable horizontal scroll */
    position: fixed; /* Stay in place */
    margin-right: .3rem;

}

#cart {
    display: none;
    background-color: #2f5476;
    opacity: 90%;
    border-radius: 10px;
    padding: .7rem;
    border: #3b3b3b 2px solid;
    border-spacing: 0 .3rem;
}

table {
    border-collapse: unset;
    width: 500px;
}

.cart-inside {
    margin-top: .3rem;
}

#cart thead th {
    color: sandybrown;
    border-bottom: darkorange 2px solid;
    text-align: center;
    width: 100%;
    margin: auto;
}

#cart tbody {
    display: inline-block;
    width: 100%;
}

#cart .cart-item-deletebtn {
    width: 1rem;
    height: 1rem;
    padding: 0;
}

#cart table .to-width{
    width: 100%;
}

#cart table th, td {
    color: sandybrown;
}

.cart-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-inside {
    flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
}

.total-row {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 1rem;
    bottom: 0;
    width: 83%;
    border-top: darkorange 2px solid;
    margin-bottom: .2rem;
}



#main .card {
    margin: 1rem;
    border-radius: 10px;
}

#main .card .card-header p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#main .card img {
    border-radius: 10px;
}

.content {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.content div {
    margin-bottom: 1rem;
}



.navBarDropButton a {
    padding: 8px 8px 32px 8px;
}


#main-title {
    color: black;
    text-decoration: none;
}



#footer {
    margin: 1rem;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}